<!DOCTYPE html>
<html>
<head>
<link href='/stylesheets/reset_stylesheet.css' rel='stylesheet'>
<link href='/stylesheets/stylesheet.css' rel='stylesheet'>
</head>
<body>
<header class="clearfix">
  <div  id="logo">Bookmark Manager</div>
     
  
  <div id="user-links">

    <% if current_user %>
      <span id="welcome_message">Welcome, <%= current_user.email %> </span>
      <form id='sing-out' method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
    
    <% else%> 
        <% if request.path_info =='/users/new' %>
   <a href='/users/new'> <button name='sing_up' >Sign Up</button></a>
        <% elsif request.path_info =='/sessions/new' %>
   <a href='/sessions/new'> <button name='sing_up' >Sign Up</button></a>
        <% else %>
        <a href='/users/new'> <button name='sing_up' >Sign Up</button></a>
         <a href='/sessions/new'> <button name='sing_in' >Sign In</button></a>

   
      <% end %>
  
  

    <% end %>
  
  <% unless request.path_info =='/links/new' %> 
  <a href='/links/new'> <button name='add_link' >Add Link</button></a>
<% end %>

  </div> <!--end of bookmark manager-->

</header>
 <h1 id="welcome_to">Welcome to the bookmark manager</h1>

 <% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form. 
  <ul id="errors">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>
</body>



</html>